.font{
    font-size:small;
    background-color: rgb(77, 9, 145);
    position: fixed;left: 0;
    top: 50%;
        
    color: cornsilk;
        
}
.cor-nav{
    color: red;
       }

.cor-nav:focus{
    border-color: black;
}
